{% extends "layouts/base.html" %}
{% block title %} Отчеты по программированию {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock stylesheets %}
{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div>
                                <!--                            <button type="button" class="btn btn-warning" onclick="document.getElementById('inconsistencies').scrollIntoView();">Несостыковок: <span class="badge badge-light">4</span> Нажмите, чтобы перейти к исправлению</button>-->
                                <div>
                                    <div class="col-sm-12">
                                        <hr>

                                        <h3 class="m-0">Зведення 1С та БО</h3>
                                        <br>

                                        <table class="table table-hover" id="myTable">
                                            <thead>
                                            <tr>
                                                <th>Локація</th>
                                                <th>Учень</th>
                                                <th>Група</th>
                                                <th>1С</th>
                                                <th>БО</th>
                                                <th>Дія</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for key, value in reports_by_location.items %}
                                                {% for report in value %}
                                                    <tr>
                                                        <td>
                                                            {{ key }}
                                                        </td>
                                                        <td>
                                                            {{ report.lms_student_name }}
                                                        </td>
                                                        <td>
                                                            {{ report.lms_group_label }}
                                                        </td>
                                                        <td>
                                                            {{ report.payment_total }}
                                                        </td>
                                                        <td>
                                                            {{ report.lms_total }}
                                                        </td>
                                                        <td>
                                                            <a href="/consolidation_issue_resolve/{{ report.id }}"
                                                               class="label theme-bg text-white f-16">Виправлено</a>
                                                            <a href="/consolidation_issue_close/{{ report.id }}"
                                                               class="label theme-bg2 text-white f-16">Неможливо виправити</a>
                                                        </td>
                                                        {#                                                        <td>#}
                                                        {#                                                            <h6 class="m-0">{{ report.payment_total - report.lms_total }}</h6>#}
                                                        {#                                                        </td>#}

                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        <hr>

                                        <div id="inconsistencies">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
  $(document).ready(function() {
    var table = $('#myTable').DataTable({
      dom: 'lBfrtip',
      buttons: [
        'columnsToggle'
      ],
      initComplete: function () {
        // Create a new row for filters
        var newRow = $('<tr>').appendTo($(this).find('thead'));

        this.api().columns().every( function () {
          var column = this;

          // Add an empty cell to the new row for each filter
          var newCell = $('<th>').appendTo(newRow);

          // Create the select element
          var select = $('<select id=location-select><option value=""></option></select>')
            .appendTo(newCell)
            .on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );

              column
                .search( val ? '^'+val+'$' : '', true, false )
                .draw();

              // Save the selected option to Local Storage on change
              localStorage.setItem("location-select", $(this).val());
            });

          column.data().unique().sort().each( function ( d, j ) {
            select.append('<option value="'+d+'">'+d+'</option>');
          });
        });

        // Load the selected option from Local Storage
        var selectedOption = localStorage.getItem("location-select");
        if (selectedOption) {
          $("#location-select").val(selectedOption).trigger("change");
        }
      }
    });
  });
</script>



{% endblock javascripts %}