{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">

    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10"> Створення зв'язку з АМО </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    {% if msg != "" %}
                    <button type="button" class="btn btn-danger">ПОМИЛКА</button>
                    <hr>
                    {% endif %}
                    <h6>{{msg}} Ви змінюєте АМО ID для учня з LMS ID - {{lms_id}}: </h6>
                  </div>
                  <div class="card-body">
                      <div class="col-md-6">
                        <div class="form-group">
                          <form method="POST" action="/add_student_amo_ref_new/{{ issue_id }}">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary">Внести зміни</button>
                          </form>
                        </div>

                      </div>

                  </div>

                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
